@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 130ch;
  margin: auto;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: #0e1117;
  color: #f0f0f0;
  line-height: 1.6;
  padding: 2rem;
}

h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: "Bungee Spice", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.coin-card {
  background-color: #161b22;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coin-card:hover {
  transform: translateY(-5px);
}

.coin-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.coin-image {
  width: 40px;
  height: 40px;
}

.symbol {
  font-size: 0.9rem;
  color: #aaa;
}

.positive {
  color: #4caf50;
}

.negative {
  color: #f44336;
}

/* Top Controls */
.top-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-color: #0e1117;
  padding: 1rem 0;
  z-index: 2;
}

.filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.top-controls .filter {
  flex-shrink: 0;
  flex-grow: 1;
}

.top-controls .controls {
  flex-shrink: 0;
}

/* Limit Select */
.controls {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

.controls label {
  font-weight: bold;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

.controls select {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  background: #1c1f26;
  color: white;
  border: none;
  font-weight: 600;
  text-align: center;
}

.filter input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: none;
  background: #1c1f26;
  color: #fff;
  font-size: 1rem;
}

.filter input:focus {
  outline: 2px solid #fff;
}

/* Top Nav */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.top-nav h1 {
  margin-bottom: 0;
}

.top-nav div:last-child {
  display: flex;
  gap: 1rem;
}

.top-nav a {
  color: #58a6ff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.top-nav a:hover {
  color: #4090db;
  background-color: #1c1f26;
  
}

/* About Page */
.about {
  max-width: 600px;
  margin: 0 auto;
  background-color: #161b22;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.about h1 {
  margin-bottom: 1rem;
}

.about p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* Coin Details */
.coin-details-container {
  max-width: 700px;
  margin: 40px auto;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #1c1f26;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.coin-details-container a {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.3s;
}

.coin-details-container a:hover {
  color: #0056b3;
}

.coin-details-container > h1 {
  font-family: 'Inter' sans-serif;
}

.coin-details-title {
  font-size: 36px;
  margin-bottom: 10px;
}

.coin-details-image {
  width: 100px;
  margin-bottom: 20px;
}

.coin-details-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.coin-details-info h3,
.coin-details-info h4 {
  margin: 10px 0;

}

.coin-details-info h3 {
  font-size: 22px;
}

.coin-details-info h4 {
  font-size: 16px;
}

.coin-details-links {
  margin-top: 20px;
}

.coin-details-links a {
  color: #007bff;
  text-decoration: none;
}

.coin-details-links a:hover {
  text-decoration: underline;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  animation: slideUp 0.3s ease;
}

.error {
  margin: auto;
  text-align: center;
  font-weight: 700;
}

.icon {
  width: 1.5rem;
}

.not-found {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.not-found h1 {
  font-size: 5rem;
  margin-bottom: 0;
}

.not-found a {
  color: #58a6ff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #1c1f26;
  margin-top: 1rem;
}

.chart {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
